html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*RESET CSS*/

body{
  background-image: url("../img/background-body.png");
  background-color: #cccccc;
  font-family: 'Roboto', Arial, sans-serif;
  color: #7a7a7a;
}

header{
  border-bottom: #d6d6d6 2px solid;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 75px;
  background-color: white;
}

.header-logo{
  display: block;
  margin: 18px 20px 18px 30px;
  float: left;
  height: 40px;
  filter: grayscale(10%);
  transition: 0.3s;
}

.header-logo:hover{
  transition: 0.3s;
  filter: grayscale(0%) saturate(120%);
}

header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 1050px;
}

header ul li a{
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #7a7a7a;
  font-size: 16pt;
  font-weight: 500;
  margin: 15px 10px;
  padding: 10px;
}

header ul li a:hover{
  background: linear-gradient(-210deg, rgba(122,22,189,1) 33%, rgb(253, 29, 29) 65%, rgb(252, 176, 69) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 2s ease-in-out infinite;
  background-size: 150%;
}



section{
  border: #d6d6d6 2px solid;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 21%;
  right: 10px;
  background-color: white;
  margin-bottom: 120px;
}

article {
  text-align: center;
  padding: 40px;
}

article h2, aside h2{
  margin: 50px 0 0 0;
  font-weight: bold;
  font-size: 21pt;
  animation: flow 7s ease-in-out infinite;
  background: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article p{
  margin: 20px 0;
  font-size: 14pt;
}

.smart-data-img{
  margin: 50px 0;
}

@media screen and (min-width: 480px) and (max-width:800px) {
  .smart-data-img{display: none}
  iframe{display: none}
}

@media screen and (min-width: 480px) and (max-width:1070px) {
  footer{display: none}
}

@media screen and (min-width: 480px) and (max-width:1000px) {
  .a-header{
    font-size: 12pt;
    margin: 20px -4px;
  }
  .header-logo{display: none}
}

@keyframes flow {
  0%, 100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

aside{
  border: #d6d6d6 2px solid;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 10px;
  right: 80%;
  background-color: white;
  text-align: center;
  margin-bottom: 120px;
  padding-top: 40px;
}

aside img{
  margin: 50px 0;
}

@media screen and (min-width: 480px) and (max-width:1500px){
  aside {display:none}
  section {left: 10px;}
}

footer{
  border-top: #d6d6d6 2px solid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 80px;
  background-color: white;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 1050px;
  margin: 8px auto;
}

footer ul li a{
  float: left;
  text-decoration: none;
  color: #7a7a7a;
  font-size: 12pt;
  font-weight: 500;
  margin: 15px 10px;
  padding: 10px;
}

footer ul li a:hover{
  animation: flow 7s ease-in-out infinite;
  background: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer img{
  height: 40px;
  margin: 10px 20px;

}

.footer-media{
  margin-left: 100px;
}

.footer-adress{
  float: right;
  margin: 8px 50px;
}

.contact p{
  font-weight: bold;
  margin: 10px 0;
}

.contact-info{
  margin: 30px 0;
}

.social-media-contact{
  margin: 30px 0;
}

.social-media-contact img{
  padding: 0 20px;
  height: 64px;
}

.email{
  animation: flow 7s ease-in-out infinite;
  background: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article form input{
  margin: 15px 5px;
}

article form label, article form legend{
  font-weight: bold;
}

.radio-labels{
  font-weight: normal;
}

.submit-button{
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  font-weight: normal;
  font-size: 12pt;
  color: #7a7a7a;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  border: 5px solid;
  border-image-slice: 1;
  transition: 0.2s;
  border-image-source: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
}

.submit-button:hover{
  font-weight: bold;
  transition: 0.2s;
}

tr, th, td{
  border-collapse: collapse;
  border: #7a7a7a 1px solid;
  width: 100px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

th, .table-date{
  animation: flow 7s ease-in-out infinite;
  background: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: 250px;
  border: #7a7a7a 1px solid;
}

tr{
  border:none;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

#empty-th{
  border: none;
}

.info{
  height: 16px;
  margin-left: 3px;
}

.tooltip{
  background-color:#FFFFFF;
  color:#7a7a7a;
  text-decoration:none
}

.about-us img{
  height: 200px;

}

.about-us figure{
  display: inline-block;
  margin-top: 50px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.image-caption{
  font-weight: bold;
  font-size: 16pt;
}

.office-photo{
  margin: 50px 30px;
  border-image-source: linear-gradient(-90deg, rgb(139, 22, 189) 33%, rgb(253, 29, 29) 65%, rgb(252, 142, 69) 100%);
  border: 5px solid;
  border-image-slice: 1;
  border-radius: 20px;
}